.main
  .main__top
    .main__top--name
      kawayan
    = link_to edit_group_path(current_user) do
      %input{type: "submit", value: "Edit", class: "main__top--edit"}
    .main__top--member
      Member: kawayan 仮免太郎
  .main__message
    .main__message--name
      kawayan
    .main__message--date
      2019/10/18(Fri) 21:11:35
    .main__message--text
      こんばんは
  .main__footer
    .inputbox
      %input{type: "text", name: "message", class: "inputbox__message"}
      %label.inputbox__label
        = fa_icon "image"
        %input{type: "file", class: "inputbox__label--image"}
    %input{type: "submit",value: "Send",class: "sendmessage"}